<div id="map-canvas"> </div>   

<div class="container-fluid" id="main">    
  <div class="row">

    <div class="col-xs-8" id="left">

      <h1 class="center headline"> CIVIC HAPPENINGS </h1> 
      <div ng-app="app">  
         <div ng-controller="happeningsCtrl" ng-init="fetchData()">

            <div ng-click="show=!show">
              <h3 target="_ext" class="center-block btn btn-primary">MAKE SOMETHING HAPPEN</h3>
            </div>

            <div ng-show="show">
              <div id="jumbotron-padding" class="jumbotron ng-enter">
                  <div class="inputs">
                    Name: <input class="form-control" ng-model="happeningName"> 
                  </div>
                  <div class="inputs">
                    Address: <input class="form-control" ng-model="happeningAddress">
                </div> 

                <div class="container">
                    <!-- <div class="row"> -->
                        <!-- <div class='col-sm-6'> -->
                            <div class="form-group">
                                <div class='input-group date inputs'>

                                    Date and Time: <input id='datetimepicker' type='text' class="form-control" ng-model="happeningTime">
                              
                                </div>
                            </div>
                        <!-- </div> -->

                    <!-- </div> -->
                </div>

                
                <div class="inputs">
                  Description: <textarea class="form-control inputs" ng-model="happeningDescription"></textarea>
                </div>
                <div class="center inputs">  
                  <button class="btn btn-primary btn-lg" ng-click="addHappening(happeningName, happeningAddress, happeningTime, happeningDescription)">Make it Happen</button>
                </div>  
              </div>
            </div> 

            <div ng-repeat="happening in happenings">
              <div class="panel panel-default source-{{ source }}">  
                <div class="panel-heading" ng-click="toggleDescriptionVisible(happening)"> 
                  <h2> {{ happening.name }} <h2> 
                  <h3> {{ happening.start_time }} </h3> 
                  <h3> {{ happening.address }} </h3> 
                  <div ng-if="happening.descriptionVisible"> 
                    <hr> 
                    <h4> {{ happening.group_name }} </h4>
                    <hr>
                    <p ng-bind-html="makeTrust(happening.description)"> {{ happening.description }} </p>   
                    <p><a href=" {{ happening.url }} "> Link to Source </a></p>
                  </div> 
                </div>       
              </div>
            </div>

          </div>
      </div>
    </div>

    <div class="col-xs-4"><!--map-canvas will be postioned here--></div> 
  </div> 
</div> 
<!-- end template -->

  <!-- script references -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <!-- <script src="js/scripts.js"></script> -->


<script>
  $(document).ready(function(){

  google.maps.event.addDomListener(window, 'load', initialize);

    function initialize() {

      var mapOptions = {
        center: new google.maps.LatLng(41.8369, -87.7847),
        scrollWheel: true,
        zoom: 10
      };
      
      var markers = [
        <% @happenings.each do |happening| %>
         <% if happening.lat && happening.lon %>
            new google.maps.Marker({
              position: new google.maps.LatLng(<%= happening.lat %>, <%= happening.lon %>),
              url: '/',
              animation: google.maps.Animation.DROP
            }),
          <% end %>
        <% end %>
      ];
      
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      var contentString = []
          <% @happenings.each do |happening| %>
            <% if happening.lat && happening.lon %>
              contentString.push(
              '<div id="content">'+
                '<div id="siteNotice">'+ '</div>'+
                  '<h1 id="firstHeading" class="firstHeading"><%= happening.name %></h1>'+
                  '<div id="bodyContent">'+
                    '<p><b><%= happening.human_time %></b></p>'+
                    '<p><%= happening.address %> '+ 
                    '<p>LINK <a href="<%= happening.url %>"></p>'+
                  '</div>'+
              '</div>');
            <% end %>
          <% end %> 

      var infowindow = new google.maps.InfoWindow();

      for(var i = 0; i <   markers.length; i++){  
        markers[i].setMap(map);
        
        google.maps.event.addListener(markers[i], 'click', (function(markers, i) {
          return function() {
            infowindow.setContent(contentString[i]);
            infowindow.open(map,markers[i]);
          }
        })(markers, i));
      }

    };
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {
   $('#datetimepicker').datetimepicker();
  });
</script>


